body{
    background-color:black;
    color: rgb(255, 6, 6);
}
.cheat{
    border: crimson 2px solid ;
    
    padding: 8px;
    margin: 20px;
}
.cheat2{
    border: crimson 2px solid;
    padding: 8px;
    margin: 20px;
}